<div class="main">
  <div class="cost-view">
    <div class="overlay-move">
    </div>
    <ul class="nav nav-tabs">
      <li ng-repeat="tab in vm.tabs" ng-class="{active: $index==0}" ng-click="vm.selectView({event: $event}, $index);">
        <a data-toggle="tab">
          <p class="chart-name">{{tab.tabCaption}}</p><p class="chart-amount">{{vm.extractCaption($index)}}</p>
        </a>
      </li>

    </ul>

    <div class="tab-content">
      <linechart data="vm.chartData" options="vm.options"></linechart>
    </div>
  </div>
</div>